body{
  font-family: 'Georgia', sans-serif;
  font-size: 14px;
  color: $dark-color;
  line-height: 1.5em;
  background-color: $primary-color;
}

#container{
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border: 1px solid $dark-color;
  border-radius: 5px;
  @include border-radius(5px);
}

section{
  min-height: 200px;
}
