//set text color based on background
@function set-text-color($color){
  @if(lightness($color) > 50){
    @return $dark-color;
  }@else{
    @return $light-color;
  }
}

//set background & text color
@mixin set-background($color){
  background-color: $color;
  color: set-text-color($color);
}

//set link color
@mixin set-linkColor($colorA){
  color: set-text-color($colorA);
}

//set Margin all around
@mixin margin($space){
  .m-#{$space}{
    margin: #{$space}rem;
  }
}

//set Vertical Margin
@mixin margin-y($space){
  .my-#{$space}{
    margin: #{$space}rem 0;
  }
}

//set Horizontal Margin
@mixin margin-x($space){
  .mx-#{$space}{
    margin: 0 #{$space}rem;
  }
}

//set Padding all around
@mixin padding($space){
  .p-#{$space}{
    padding: #{$space}rem;
  }
}

//set Top/Bottom Padding
@mixin padding-y($space){
  .py-#{$space}{
    padding: #{$space}rem 0;
  }
}

//set Left/Right Padding
@mixin padding-x($space){
  .px-#{$space}{
    padding: 0 #{$space}rem;
  }
}

