//set text color based on background
@function set-text-color($color){
  @if(lightness($color) > 60){
    @return $dark-color;
  }@else{
    @return $light-color;
  }
}

//set background & text color
@mixin set-background($color){
  background-color: $color;
  color: set-text-color($color);
}

//set link color
@mixin set-linkColor($colorA){
  color: set-text-color($colorA);
}

