//colors
$primary-color: #17a2b8;
$secondary-color: #343a40;
$light-color: #f4f4f4;
$white-color: #fff;
$dark-color: #0e0e0e;
$success-color: #28a745;
$danger-color: #dc3545;
$primary-border-color: #ccc;
$secondary-border-color: #333;
$transparent-cover:  rgba(0,0,0,0.7);

//measurements
$max-width: 1100px;
