//font-family
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//text-styles
.x-large{
    font-size: 4rem;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

.large{
    font-size: 3rem;
    line-height: 1.2rem;
    margin-bottom: 1.2rem;
}

.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

