//backgrounds 
.bg {
  &-primary {
      @include set-background($primary-color);
      a{
          @include set-linkColor($primary-color);
      }
  }
}

.bg {
  &-light {
      @include set-background($light-color);
      //border: 1px solid $secondary-border-color;
      a{
          @include set-linkColor($light-color);
      }
  }
}

.bg {
  &-dark {
      @include set-background($dark-color);
      a{
          @include set-linkColor($dark-color);
      }
  }
}

.bg {
  &-success {
      @include set-background($success-color);
      a{
          @include set-linkColor($success-color);
      }
  }
}

.bg {
  &-warning {
      @include set-background($warning-color);
      a{
        @include set-linkColor($warning-color);
      }
  }
}

.bg {
  &-danger {
      @include set-background($danger-color);
      a{
          @include set-linkColor($danger-color);
      }
  }
}

.bg {
  &-white {
      @include set-background($white-color);
      //border: 1px solid $secondary-border-color;
      a{
          @include set-linkColor($white-color);
      }
  }
}

//transparent cover
.dark-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $transparent-cover;
}

//alignment
.vertical-align{
  &-center{
    vertical-align: middle;
  }

  &-top{
    vertical-align: top;
  }

  &-bottom{
    vertical-align: bottom;
  }
}

.horizontal-align{
  &-center{
    text-align: center;
  }

  &-left{
    text-align: left;
  }

  &-right{
    text-align: right;
  }

  &-justify{
    text-align: justify;
  }
}

//generate margin and padding classes dynamically
$spaceAmount: (1,2,3,4,5);
@each $space in $spaceAmount {
  //margin all around
  .m-#{$space}{
    margin: #{$space}rem;
  }

  //vertical margin
  .my-#{$space}{
    margin: #{$space}rem 0;
  }

  //horizontal margin
  .mx-#{$space}{
    margin: 0 #{$space}rem;
  }

   //margin all around
   .p-#{$space}{
    padding: #{$space}rem;
  }

  //vertical margin
  .py-#{$space}{
    padding: #{$space}rem 0;
  }

  //horizontal margin
  .px-#{$space}{
    padding: 0 #{$space}rem;
  }

}

//alerts
.alert{
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background-color: $light-color;
    color: $dark-color;

    &.alert-primary{
        @include set-background($primary-color);
    }

    &.alert-light{
        @include set-background($light-color);
    }

    &.alert-dark{
        @include set-background($dark-color);
    }

    &.alert-success{
        @include set-background($success-color);
    }

    &.alert-warning{
      @include set-background($warning-color);
    }

    &.alert-danger{
        @include set-background($danger-color);
    }
}

//badges
.badge{
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background-color: $light-color;
  color: $dark-color;

  &.badge-primary{
    @include set-background($primary-color);
  }

  &.badge-dark{
    @include set-background($dark-color);
  }

  &.badge-success{
    @include set-background($success-color);
  }

  &.badge-warning{
    @include set-background($warning-color);
  }

  &.badge-danger{
    @include set-background($danger-color);
  }
}

//rounds-img
.round-img{
  border-radius: 50%;
}

//line
.line{
  height: 1px;
  background-color: $primary-border-color;
  margin: 1.5rem 0;
}

//table
.table{
  th,td{
    padding: 1rem;
    text-align: left;
    border: 1px solid $primary-color;
    border-right: none;
    border-left: none;
  }

  tr{
    & >:first-child{
      border-left: 1px solid $primary-color;
    } 

    & >:last-child{
      border-right: 1px solid $primary-color;
    }
  }

  th{
    @include set-background($primary-color);
    text-align: center;
    font-size: 1.2rem;
  }
}
